
*{
    margin: 0;
    box-sizing: border-box;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
nav{
    width: 71%;
    max-width: 1140px;
    display: flex;
    justify-content:space-between;
    margin: 0px auto;
    align-items: center;
}
.logo h2{
font-size: 45px;
font-weight: 900;
}
.orange{
    color: #FD6E0A;
}
nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
    
    
}
.btn{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    padding: 18px 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
}